@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 450px;
    background-color: #ff5520;
    background-image:  
                url(./images/shape2.png),
                url(./images/shape1.png);
    background-size: 30%, 60% ;
    background-repeat: no-repeat;
    background-position: 50% 10%, 100% 100%;
}



.logo  {
    width: 70%;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 30%;
}

.metre {
    width: 100%;
}

.left p {
    font-family: 'Paytone One', sans-serif;
    font-size: 42px;
    line-height: 1;
}

.p1 { color:yellow}
.p2, .p3 { color: white;}

.right {
    width: 50%;
}

.shoes {
    width: 100%;
}

.slogan {
    text-align: right;
}


.freepik {
    width: 15%;
    position: absolute;
    bottom: -25px;right: 0px;
}

