* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.galerie {
    margin: 50px auto;
    width: min(80%,900px);
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;

}

.galerie img {
    width: 32%;
    margin: .5%;
}
