/* temps 1H35mn */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro',sans-serif;
}


.main-recette {
    width: 650px;
    margin: 30px auto;
    border:1px solid grey;
    border-radius: 10px;
    padding: 4rem 2rem;
    box-shadow: 0 5px 10px #ccc;
}

.main-recette h1 {
    text-align: center;
    color: rgb(154, 189, 154);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 2.8rem;
}

.main-recette h2 {
    color: rgb(255, 102, 0);
    margin: 2rem 0;
    font-size: 1.8rem;
}

.stars {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.fa-star,
.fa-star-o {
    color:orange;
    margin: 0 5px;
    font-size: 1.5rem;
}


figure {
    display: flex;
    justify-content: space-between;
}

figure > * {
    width: 30%;
    position: relative;
}

figure img {
    width: 100%;
}

.mask {
    width: 100%;
    height: 100%;
    background: rgba(108, 124, 112, 0.287);
    position: absolute;
    top: 0;left: 0;
    opacity: 0;
}
.mask h3 {
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    color:white;
}


.prepa {
    padding: 1rem 0;
}


.prepa p {
    color: #444;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 1rem;
}


.ingredients ul {
    list-style: none;
}

.ingredients li {
    letter-spacing: 2px;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(200, 200, 200);
    margin: 1rem 0;
}

.ingredients .fa-check {
    color:rgb(14, 168, 14);
}


.avis-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}


.avatar {
    width: 20%;
    border-radius: 100%;
}

.user {
    margin-left: 1rem;
}

.user p:first-child {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.comment {
    line-height:1.2;
    font-size: 0.9rem;
    font-style: italic;
}


