@font-face {
    font-family: mathlete-bulky;
    src: url(./fonts/mathlete-bulky.woff);
}

section {
    width: 400px;
    height: 600px;
    text-align: center;
    background: url(./images/spring-8.png);
    background-size: cover;
}

section h1 {
    font-family: mathlete-bulky;
    font-size: 140px;
    font-weight:200;
    letter-spacing: 4px;
    color:rgb(28, 95, 97);
}