@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;700;800&display=swap');
*{
    margin: 0;
}

section {
    /*  dimensions avec hauteur automatique */
    width: 400px;
    height: auto;
    /* centrage */
    margin-left: auto;
    margin-right: auto;
    /* espace interne */
    padding: 20px 10px 20px 10px;
    margin-top: 50px;
    text-align: center;
    /* ombre portée */
    box-shadow: 0 5px 20px #999;
    background-image: url(./images/SVG/dotted-line.svg);
    background-position: -47px -47px;
}

h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 50px;
    color: rgb(12, 101, 12);
}


h2 {
    font-family: 'Montserrat', sans-serif;
}

/* 
    nth-of-type est une pseudo classe qui permet de cibler un élément avec un numéro
    ici c'est le deuxième h2
    voir dans le cours  : https://github.com/seasgit/aide_html_css/blob/main/4.%20css-selecteurs.md#5-pseudo-classes

 */
h2:nth-of-type(2) {
    margin-bottom: 10px;
}


p {
    font-family: 'Montserrat', sans-serif;
    padding: 0 40px;
    margin-bottom: 20px;
}

/* un sélecteur class commence avec un point */
.btn-learn {
    font-family: sans-serif;
    border-radius: 50px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    background-color: rgb(12, 101, 12);
    color:white;
}

figure {
    padding-top: 40px;
}

img {
    width: 80%;
}